.text-custom-primary {
    color: #6864f7;
}
.bg-custom-primary {
    background-color: #6864f7;
}
.bg-custom-primary-dark {
    background-color: #504cf7; /* A darker shade for hover states */
}
.hover\:text-custom-primary:hover {
    color: #6864f7;
}
.hover\:bg-custom-primary-dark:hover {
    background-color: #504cf7; /* Hover background color */
}
.hover\:stroke-custom-primary:hover {
    stroke: #6864f7; /* Hover stroke color */
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #f5f5f5;
  }
  .sidebar {
    transition: transform 0.3s ease-in-out;
  }
  .sidebar-hidden {
    transform: translateX(-100%);
  }
  .card-hover:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}


/* Custom gradient background for the table header */
.table-header {
    background: linear-gradient(135deg, #6c5ce7, #a29bfe);
}
/* Custom hover effect for table rows */
.table-row:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}
